.films__item {
  display: flex;
  flex-direction: column;
  margin: 15px 1% 15px;
  background: #000;
  padding: 15px 20px;
  list-style: none;
  color: #fff;
}

.films__title {
  display: inline-block;
  margin: 0 0 10px;
  border-bottom: 1px solid #FFE81F;
  padding-bottom: 3px;
  line-height: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 425px) {
  .films__title {
    font-size: 1.0rem;
  }
}

@media (max-width: 767px) {
  .films__title {
    font-size: 1.25rem;
  }
}

.films__container {
  display: flex;
  justify-content: space-around;
}

.films__img--green {
  bottom: 10px;
  width: auto;
  height: 80px;
}

.films__img--red {
  bottom: 10px;
  width: auto;
  height: 80px;
  transform: scaleX(-1);
}

.films__info {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5rem;
}